.app {
  font-size: 1.6rem;
  @media screen and (max-width: 960px) {
    font-size: 1.4rem;
  }

  .header {
    position: relative;
    overflow: hidden;
    .left {
      float: left;
    }
    .right {
      display: flex;
      float: right;
      justify-content: center;
      .iconHeader {
        margin-right: 2rem;
        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
